@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); /* Fuente estilo reloj */
body {
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #f0f0f0; /* Texto claro */
  font-family: sans-serif;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 0; /* Elimina márgenes */
}

/* Background container for the animated effect */
.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Puts the background behind the content */
  background: linear-gradient(45deg, #000000, #171717, #2e2e2e, #444444, #5b5b5b, #d2d4d5);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

/* Keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.contenedor {
  display: grid;
  width: 60vw; /* Ocupa el 60% del ancho en pantallas grandes */
  height: 150vh; /* Ocupa el 90% de la altura de la pantalla */
  grid-template-columns: repeat(9, 1fr); /* Más columnas para mayor flexibilidad */
  grid-template-rows: repeat(4, 1fr); /* Definir el número de filas */
  grid-gap: 10px;
  padding: 20px;
}

.caja {
  background-color: #2e2e2e; /* Fondo oscuro */
  border: 5px solid #1E1E1E; /* Define el grosor del borde */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em; /* Tamaño de fuente */
  color: #e0e0e0; /* Color del texto en las cajas */
}

.time {
  background-color: #1E1E1E; /* Fondo oscuro */
  color: wheat; /* Verde estilo reloj digital */
  font-family: 'Orbitron', sans-serif; /* Aplicar la fuente digital */
  font-size: 3rem; /* Texto grande para el reloj */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-image: url('digital-clock-bg.png'); /* Imagen de fondo sutil */
  background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
}

#modelContainer {
  position: relative;
  width: 100%;  
  height: 100%; 
  overflow: hidden;
}

#modelContainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.overlayText h2 {
  margin: 0;
  font-size: 2em;
}

.overlayText p {
  margin: 5px 0 0 0;
}


.uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 6;
  grid-row: 1;
}

label{
  z-index: 9999;
}

.uno img {
  width: 120px; /* Ajusta el tamaño de la imagen */
  height: 120px;
  border-radius: 20%; /* Redondea la imagen */
  object-fit: cover; /* Asegura que la imagen mantenga proporciones */
}

.uno h2 {
  margin: 5px 0;
  font-size: 1.5em;
}

.uno p {
  margin: 0;
  font-size: 1.1em;
  color: #ffffff;
}


.dos {
  grid-column: 6 / 10; /* Caja más ancha */
  grid-row: 1;
  position: relative;
}

.caja.dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #edeadc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.flag {
    width: 65px;
    height: auto;
    transition: transform 0.5s ease;
}

.text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black; /* El texto siempre será negro */
    transition: transform 0.5s ease;
}

.caja.dos:hover .flag {
    transform: scale(1.2);
}

.caja.dos:hover .text {
    transform: scale(1.1); /* Escala ligera en hover */
}


.diez {
  background-image: url(assets/habilidades1.png);
  background-size: contain; /* Asegura que la imagen se vea completa */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  grid-column: 1 / 5;
  grid-row: 2;
  background-color: white;
}


.once {
  grid-column: 5 / 10; /* Caja ampliada */
  grid-row: 2;
  background-color: #5b5b5b;
}

.siete {
  grid-column: 1 / 4;
  grid-row: 4 / 5; /* Ocupa más filas */
}

.caja.siete {
    position: relative;
    width: 100%;
    overflow: hidden; /* Para que el video no se salga de la caja */
}

.github-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el logo esté sobre el video */
}

.github-logo {
  width: 200px; /* Ajusta el tamaño del logo según prefieras */
  height: auto;
  cursor: pointer;
}


.ocho {
  grid-column: 4 / 10; /* Ampliada horizontalmente */
  grid-row: 3;
}

.nueve {
  grid-column: 4 / 7;
  grid-row: 4;
  background-color: #282828;
}

.cinco {
  background-image: url('assets/Opera\ Instantánea_2024-10-04_113105_beta.maps.apple.com1.png');
  grid-column: 7 / 10;
  grid-row: 4;
  background-size: cover; /* Hace que la imagen cubra todo el espacio */
  background-position: center; /* Centra la imagen dentro de la caja */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  width: 100%;  
}


.cinco.iframe{
  height: 100%;
}

.caja.cinco {
  background-color: #334357;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain; /* Ajusta la imagen para que se vea completamente */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en la caja */
  width: 97%;
}

.titulo2 {
  color: black; /* Color del texto */
  font-size: 2rem; /* Tamaño del texto, puedes ajustar según tus necesidades */
  text-align: center; /* Centra el texto */
  margin-bottom: 10px; /* Espacio entre el título y el contenido debajo */
  position: relative; /* Para permitir el posicionamiento */
  top: -75px; /* Alinea el título en la parte superior */
  z-index: 1; /* Asegura que el título esté por encima de otros elementos */
}


.titulo {
  text-align: center; /* Centra el título */
  color: rgb(0, 0, 0); /* Color blanco del título */
  font-size: 4vw; /* Tamaño del texto del título ajustable */
  margin-bottom: 10px; /* Espacio entre el título y la caja */
}

.caja.seis {
  position: relative;
}

.popup-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: s0px;
  left: 600px;
  transform: translateX(-50%) translateY(-10px); /* Centramos horizontalmente y ajustamos verticalmente */
  background-color: rgba(0, 0, 0, 0.85); /* Fondo semi-transparente para un efecto más moderno */
  color: white; /* El texto ahora será blanco para que contraste mejor */
  border-radius: 10px; /* Bordes redondeados para un estilo más suave */
  padding: 20px;
  width: 500px;
  text-align: center; /* Centramos el texto */
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Sombra más suave y grande */
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; /* Transición más larga y con movimiento */
  z-index: 1;
}

.caja.once:hover .popup-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Movimiento suave hacia arriba cuando se muestra */
  z-index: 99999;
}

/* Animación de escala cuando aparece el pop-up */
.caja.once:hover .popup-text {
  animation: popUpScale 0.4s ease-in-out;
}

@keyframes popUpScale {
  0% {
    transform: scale(0.8) translateX(-50%) translateY(10px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateX(-50%) translateY(0);
    opacity: 1;
  }
}


.seis {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  text-align: center; /* Centra el texto dentro de la caja */
  background-color: #717171;
}

.seis p {
  color: rgb(255, 255, 255); /* Color del párrafo */
  text-shadow: 10 0 2px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0); /* Efecto neón */
  font-size: 1vw; /* Tamaño del texto del párrafo ajustable */
}

.dos iframe {
  position: absolute;
  width: 100%;
  height: 100%; 
}

.diez .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 85%;
}

.diez .item p {
  margin: 5px;
  font-size: 2em;
}

.seis iframe {
  width: 100%;
  height: 100%;
}

.siete iframe {
  width: 100%;
  height: 100%;
}

.ocho iframe {
  width: 100%;
  height: 100%;
}

.nueve iframe {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

 a {
   cursor: pointer;
 }
 a:hover {
   text-decoration: none;
 }
 
 .section{
   position: relative;
   width: 100%;
   display: block;
 }
 .over-hide{
   overflow: hidden;
 }
 [type="radio"]:checked,
 [type="radio"]:not(:checked){
   position: absolute;
   left: -9999px;
 }
 .checkbox:checked + label,
 .checkbox:not(:checked) + label{
   position: relative;
   cursor: pointer;
   margin: 0 auto;
   text-align: center;
   margin-right: 6px;
   margin-left: 6px;
   display: inline-block;
   width: 50px;
   height: 50px;
   border: 3px solid #bdc3c7;
   background-size: cover;
   background-position: center;
   box-sizing: border-box;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   background-image: url('assets/carrusel3.jpg');
   animation: border-transform 6s linear infinite alternate forwards;
     -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
     animation-play-state: paused;
 }
 .checkbox.scnd + label{
   background-image: url('assets/kaws.jpg');
   
 }
 .checkbox.thrd + label{
   background-image: url('assets/image-login.jpg');
 }
 .checkbox.foth + label{
   background-image: url('assets/web-page-image.png');
 }
 
 .checkbox:checked + label{
   box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
   transform: scale(1.3);
     -webkit-animation-play-state: running;
     -moz-animation-play-state: running;
     animation-play-state: running;
 }
 @keyframes border-transform{
   0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
 }
 
 .slider-height-padding {
   padding-top: 290px;
 }
 
 ul {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
 }
 ul li {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: block;
   z-index: 100;
   padding: 0;
   margin: 0;
   list-style: none;
   height: 47vh;
   border: 5px solid #bdc3c7;
   background-size: cover;
   background-position: center;
   background-image: url('assets/carrusel3.jpg');
   border-radius: 50%;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-weight: 900;
   font-size: 16px;
   letter-spacing: 2px;
   line-height: 2.7;
   color: #343434;
   writing-mode: vertical-rl;
   opacity: 0;
   pointer-events: none;
   box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
 }
 ul li span {
   mix-blend-mode: difference;
 }
 ul li:nth-child(2) {
   background-image: url('assets/kaws.jpg');
 }
 ul li:nth-child(3) {
   background-image: url('assets/image-login.jpg');
 }
 ul li:nth-child(4) {
   background-image: url('assets/web-page-image.png');
 }
 
 
 .checkbox.frst:checked ~ ul li:nth-child(1) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
   z-index: 9999;
 }
 .checkbox.scnd:checked ~ ul li:nth-child(2) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
   z-index: 9999
 }
 .checkbox.thrd:checked ~ ul li:nth-child(3) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
   z-index: 9999
 }
 .checkbox.foth:checked ~ ul li:nth-child(4) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
   z-index: 9999
 }
 
 .logo {
   position: absolute;
   top: 30px;
   right: 30px;
   display: block;
   z-index: 100;
   transition: all 250ms linear;
 }
 .logo img {
   height: 26px;
   width: auto;
   display: block;
 }


@media (max-width: 1000px) {
  body {
    background-color: none; /* Fondo oscuro */
    color: #f0f0f0; /* Texto claro */
    font-family: sans-serif;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 0; /* Elimina márgenes */
    margin-right: -90px;
  }

  .caja {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .checkbox:checked + label,
  .checkbox:not(:checked) + label{
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    margin-right: 6px;
    margin-left: 6px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 3px solid #bdc3c7;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-image: url('assets/carrusel3.jpg');
    animation: border-transform 6s linear infinite alternate forwards;
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      animation-play-state: paused;
  }

  ul li {
    height: 3%;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .contenedor {
    width: 101vw; /* Ocupa el 100% del ancho en pantallas pequeñas */
    grid-template-columns: repeat(4, 1fr); /* Ajusta a 4 columnas en pantallas pequeñas */
    grid-template-rows: repeat(5, 1fr); /* Definir el número de filas */
    grid-gap: 25px;
  }

  .slider-height-padding {
    margin-top: 0;
    padding-top: 0px;
  }

  ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 101vw;
    display: block;
    z-index: 100;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    border: 5px solid #bdc3c7;
    background-size: cover;
    background-position: center;
    background-image: url('assets/carrusel3.jpg');
    border-radius: 50%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 2.7;
    color: #343434;
    writing-mode: vertical-rl;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  ul li span {
    mix-blend-mode: difference;
  }
  ul li:nth-child(2) {
    background-image: url('assets/kaws.jpg');
  }
  ul li:nth-child(3) {
    background-image: url('assets/image-login.jpg');
  }
  ul li:nth-child(4) {
    background-image: url('assets/web-page-image.png');
  }

  .checkbox:checked + label,
  .checkbox:not(:checked) + label {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    margin-right: 6px;
    margin-left: 6px;
    display: inline-block;
    width: 80px; /* Asegúrate de que el tamaño sea adecuado */
    height: 80px;
    border: 3px solid #bdc3c7;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    transition: all 0.2s ease;
    background-image: url('assets/carrusel3.jpg');
    animation: border-transform 6s linear infinite alternate forwards;
    animation-play-state: paused;
  }
  
  .checkbox.scnd + label {
    background-image: url('assets/kaws.jpg');
  }
  
  .checkbox.thrd + label {
    background-image: url('assets/image-login.jpg');
  }
  
  .checkbox.foth + label {
    background-image: url('assets/web-page-image.png');
  }
  
  .checkbox:checked + label {
    box-shadow: 0 8px 25px 0 rgba(16, 39, 112, 0.3);
    transform: scale(1.3);
    animation-play-state: running;
  }
  

  .uno {
    bottom: 0;
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el contenido */
    padding: 0; /* Elimina cualquier relleno extra */
    margin: 0; /* Elimina márgenes */
  }
  
  label{
    z-index: 9999;
  }

  .uno img {
    width: 220px; /* Ajusta el tamaño de la imagen */
    height: 220px;
    object-fit: cover; /* Asegura que la imagen mantenga proporciones */
  }

  .dos {
    grid-column: 3 / 9; /* Se adapta manteniendo la misma configuración */
    grid-row: 1;
  }

  .caja.dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #cbccc5;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

  .flag {
    width: 200px;
    height: auto;
    transition: transform 0.5s ease;
  }

  .text {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black; /* El texto siempre será negro */
    transition: transform 0.5s ease;
  }
  

  .diez {
    grid-column: 1 / 3;
    grid-row: 2;
  }

.diez {
    background-image: url(assets/habilidades21.png);
    background-size: contain; /* Asegura que la imagen se vea completa */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}


  .diez .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 85%;
  }

  .once {
    grid-column: 3 / 9;
    grid-row: 2;
  }

  .caja.once {
    height: 100%;
    width: 100%;
  }

  .once p {
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
  }

  .popup-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 100px;
    transform: translateX(-50%) translateY(-10px); /* Centramos horizontalmente y ajustamos verticalmente */
    background-color: rgba(0, 0, 0, 0.85); /* Fondo semi-transparente para un efecto más moderno */
    color: white; /* El texto ahora será blanco para que contraste mejor */
    border-radius: 10px; /* Bordes redondeados para un estilo más suave */
    padding: 20px;
    width: 500px;
    text-align: center; /* Centramos el texto */
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Sombra más suave y grande */
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; /* Transición más larga y con movimiento */
    z-index: 1;
  }
  
  .caja.once:hover .popup-text {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Movimiento suave hacia arriba cuando se muestra */
    z-index: 99999;
  }
  
  /* Animación de escala cuando aparece el pop-up */
  .caja.once:hover .popup-text {
    animation: popUpScale 0.4s ease-in-out;
  }
  
  @keyframes popUpScale {
    0% {
      transform: scale(0.8) translateX(-50%) translateY(10px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateX(-50%) translateY(0);
      opacity: 1;
    }
  }

  .titulo {
    text-align: center; /* Centra el título */
    color: rgb(0, 0, 0); /* Color blanco del título */
    font-size: 6vw; /* Tamaño del texto del título ajustable */
    margin-bottom: 10px; /* Espacio entre el título y la caja */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .ocho {
    grid-column: 1 / 9;
    grid-row: 3 / 4;
  }

  .ocho form {
    width: 100%; /* El formulario ocupará el 100% de la caja */
    height: 100%; /* Ocupará el 100% de la altura de la caja */
    position: relative;
    white-space: nowrap;
  }

  /* Para ajustar el slider a la caja ocho */
.caja.ocho {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.section.full-height {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-height-padding {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 2rem;
}

input[type="radio"] {
  display: none;
}

/* Efecto de slider */
input#slide-1:checked ~ ul {
  transform: translateX(0);
}

input#slide-2:checked ~ ul {
  transform: translateX(0%);
}

input#slide-3:checked ~ ul {
  transform: translateX(0%);
}

input#slide-4:checked ~ ul {
  transform: translateX(0%);
}

.container {
  height: 100%;
}

.row-full-height-justify-content-center{
  height: 100%;
}

.col-lg-10-col-xl-8-align-self-center-padding-tb{
  height: 100%;
}

 
.checkbox.frst:checked ~ ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
  z-index: 9999;
}
.checkbox.scnd:checked ~ ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
  z-index: 9999
}
.checkbox.thrd:checked ~ ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
  z-index: 9999
}
.checkbox.foth:checked ~ ul li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
  z-index: 9999
}



label {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 10px 5px;
}

input:checked + label {
  background-color: #333;
}


.siete {
  grid-column: 3 / 9;
  grid-row: 4 / 7;
  height: 300px;
  margin-top: 335px;
}

  .nueve {
    grid-column: 1 / 9;
    grid-row: 4;
    height: 300px;
  }

  .nueve iframe {
    padding-top: 0;
    height: 55%;
  }

  .cinco {
    grid-column: 1 / 9;
    grid-row: 5 / 7;
    background-image: url(assets/Opera\ Instantánea_2024-10-04_113105_beta.maps.apple.com.png);
    background-size: cover; /* Hace que la imagen cubra todo el espacio */
    background-position: center; /* Centra la imagen dentro de la caja */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100%;
    height: 100%; /* Asegura que la caja ocupe el 100% del espacio */
}




.caja.cinco {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra la imagen y el título horizontalmente */
  width: 101vw;
}

  .titulo2 {
    text-align: center;
    font-size: 8vw;
    margin-bottom: -25px;
    color: #000000;
    text-shadow: 0 0 8px #ffffff;
  } 

.cinco img {
  width: 100%;  /* Ancho de la imagen */
  height: auto; /* Altura de la imagen */
  object-fit: cover; /* Mantiene las proporciones de la imagen */
}

.caja.siete {
    position: relative;
    width: 100%;
    height: 300px; /* Ajusta la altura de la caja */
    overflow: hidden; /* Para que el video no se salga de la caja */
}

.github-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el logo esté sobre el video */
}


  
  .seis {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    text-align: center;
    padding: 8px;
    margin-top: 326px;
    height: 300px;
    background-color: #000000;
}
  
  .seis p {
    color: rgb(255, 255, 255); /* Color del párrafo */
    text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0); /* Efecto neón */
    font-size: 3vw; /* Tamaño del texto del párrafo ajustable */
  }

  .caja {
    border-radius: 10px;
  }

  .overlayText {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto en el contenedor */
    text-align: center;
    color: white; /* Color del texto */
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Añade sombra al texto para mayor legibilidad */
  }

  .animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
    height: 0vh;
    z-index: -1; /* Puts the background behind the content */
    background: linear-gradient(45deg, #000000, #171717, #2e2e2e, #444444, #5b5b5b, #d2d4d5);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 100% 100%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
}
